schema.rnc

start = xml
xml = element xml {scene+}
scene = element scene {n, mixed{(stageDescript, camera, sp, diag)}*}
    n = attribute n {xsd:int}
    camera = element camera {text}
    stageDescript = element stageDescript {text}
    sp = element sp {(speaker, diag, stageDescript)*}
        speaker = element speaker {who, text}
            who = attribute who {text}
        diag = element diag {text}