schema.rnc

start = xml
xml = element xml {metadata, body}
    metadata = element metadata {text}
    body = element body {scene+}
        scene = element scene {n, mixed{(camera, setting, sp, dir)}*}
            n = attribute n {xsd:int}
            camera = element camera {text}
            setting = element setting {text}
            sp = element sp {(speaker, diag)*}
            dir = element dir {text}
                speaker = element speaker {who, text}
                    who = attribute who {text}
                    diag = element diag {descr*, text, dir*}
                        descr = attribute descr {text}